<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <onepagereviews>
            <general>
                <enabled>1</enabled>
                <url>reviews</url>
                <title>Customer Reviews</title>
            </general>
        </onepagereviews>
    </default>
</config>
